<h2>To do list</h2>

<table class = "table">
	<tr>
		<th>Date</th>
		<th>Task</th>
		<th>Completed</th>
		<th colspan='2'></th>
	</tr>
<tbody>	
	<% @tdls.each do |tdl| %>
	<tr>
		<td><%= tdl.date %></td>
		<td><%= tdl.task %></td> 

		<td>
		<% if tdl.complete %>
			<%= link_to complete_path(@course, tdl), method: :patch, data: { confirm: 'Mark as incomplete?' } do %>
				<i class="glyphicon glyphicon-ok"></i>
			<% end %>
			Complete
		<% else %>
			<%= link_to complete_path(@course, tdl), method: :patch, data: { confirm: 'Mark as complete?' } do %>
				<i class="glyphicon glyphicon-remove"></i>
			<% end %>
			Pending
		<% end %>
		</td>

		<td><%= link_to 'Edit', edit_course_tdl_path(@course, tdl) %></td>
		 <td><%= link_to 'Delete', course_tdl_path(@course, tdl),
          method: :delete,
          data: { confirm: 'Are you sure?' } %></td>		
	</tr>
	<% end %>	
</tbody>
</table>

</br>

<%= link_to 'Add To-do-list', new_course_tdl_path(@course) %>


