<h2>To do list</h2>

<table class = "table">
	<tr>
		<th>Date</th>
		<th>Task</th>
		<th>Completed</th>
		<th colspan='2'></th>
	</tr>
<tbody>	
	<% @tdls.each do |tdl| %>
	<tr>
		<td><%= tdl.date %></td>
		<td><%= tdl.task %></td> 

			<%= simple_form_for([@course, tdl]) do |f| %>
				<td><%= f.input :complete, method: :complete %></td>
			<% end %>

		<td><%= link_to 'Edit', edit_course_tdl_path(@course, tdl) %></td>
		 <td><%= link_to 'Delete', course_tdl_path(@course, tdl),
          method: :delete,
          data: { confirm: 'Are you sure?' } %></td>		
	</tr>
	<% end %>	
</tbody>
</table>

</br>

<%= link_to 'Add To-do-list', new_course_tdl_path(@course) %>


