<table class = "table">
	<tr>
		<th>Date</th>
		<th>Event</th>
		<th>Details</th>
		<th colspan='2'></th>
	</tr>
<tbody>	
	<% @importants.each do |important| %>
	<tr>
		<td><%= important.date %></td>
		<td><%= important.event %></td> 
		<td><%= important.remarks %></td>
		<% if important.user == current_user %>
		<td><%= link_to 'Edit', edit_course_important_path(@course, important) %></td>
		 <td><%= link_to 'Delete', course_important_path(@course, important),
          method: :delete,
          data: { confirm: 'Are you sure?' } %></td>	
          <% end %>	
	</tr>
	<% end %>	
</tbody>
</table>

</br>

<% if @course.user == current_user  %>
<%= link_to 'Add', new_course_important_path(@course) %>
<i class="glyphicon glyphicon-plus"></i>
<% end %>



