<h2>Important dates</h2>

<table class = "table">
	<tr>
		<th>Date</th>
		<th>Event</th>
		<th>Remarks</th>
		<th colspan='2'></th>
	</tr>
<tbody>	
	<% @importants.each do |important| %>
	<tr>
		<td><%= important.date %></td>
		<td><%= important.event %></td> 
		<td><%= important.remarks %></td>
		<td><%= link_to 'Edit', edit_course_important_path(@course, important) %></td>
		 <td><%= link_to 'Delete', course_important_path(@course, important),
          method: :delete,
          data: { confirm: 'Are you sure?' } %></td>		
	</tr>
	<% end %>	
</tbody>
</table>

</br>

<%= link_to 'Add an event', new_course_important_path(@course) %>