<table class = "table">
<tbody>
    <% @users.each do |user| %>
    <tr>
        <td><%= user.email %></td> 
        <td><%= user.institution %></td> 
        <td><%= user.major %></td> 
        <td><%= user.career_field %></td> 
        <td><%= link_to 'View', user_courses_path(user[:id]) %></td>
    </tr>
    <% end %>
</tbody>
</table>


