<section id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <!-- BEGAIN ABOUT HEADING -->
            <div class="heading">
              <h2 class="wow fadeInLeftBig">Results </h2>            
            </div> 

<table class="table search_results">
    <tr>
        <th>Name</th>
        <th>Contact</th>
        <th>Institution</th>
        <th>Major</th>
        <th>Career path</th>
        <th colspan='2'></th>
    </tr>
<tbody>
    <% @users.each do |user| %>
    <tr>
        <td><%= user.firstname %><%= user.lastname %></td> 
        <td><%= user.email %><%= ' ,  ' %><%= user.phone %></td>
        <td><%= user.institution %></td> 
        <td><%= user.major %></td> 
        <td><%= user.career_field %></td> 
        <td><%= link_to 'View', user_courses_path(user[:id]) %></td>
    </tr>
    <% end %>
</tbody>
</table>
</div>
</div>
  <%= link_to "Back", user_courses_path(current_user), :class => 'slider_btn' %>
 </div>

</section>



