<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
	<%= f.input :firstname %>
	<%= f.input :lastname %>
	<%= f.input :graduation_year, required: true, :as => :date,:start_year => 2015,:end_year => 2030,:order => [:year] %>
	<%= f.input :institution %>
	<%= f.input :major %>
	<%= f.input :career_field %>
	<%= f.input :bio %>
	<%= f.input :phone %> 
  <%= f.input :email, required: true, autofocus: true %>
  <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
