
<div class= "container">
<%= simple_form_for([current_user, current_user.courses.build]) do |f| %>
  <div class="form-inputs">
    <%= f.input :name, required: true, autofocus: true %>
    <%= f.input :end_date, required: true %>
    <%= f.input :public, as: :boolean %>
  </div>

  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
</div>

