<h1>Courses#index</h1>
<%= link_to 'Create', new_user_course_path(current_user) %>

<% @courses.each do |course| %>
	<%= course.name %> | 
	<%= link_to 'Show', user_course_path(current_user, course) %>
	<%= link_to 'Edit', edit_user_course_path(current_user, course) %>
	<%= link_to 'Delete', user_course_path(current_user, course), method: :delete, data: {confirm: 'Are you sure?'} %>
	</br>
<% end %>

