 <!--=========== BEGAIN TEAM SECTION ================-->

    <section id="team">
      <div class="container">
      
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <!-- BEGAIN ABOUT HEADING -->
            <div class="heading">
              <h2 class="wow fadeInLeftBig">My Courses</h2>            
            </div>            
            <div class="team_area">
              <!-- BEGAIN TEAM SLIDER -->
              <div class="team_slider">  
              <% @courses.each do |course| %>
                <!-- BEGAIN SINGLE TEAM SLIDE#1 -->              
                <div class="col-lg-3 col-md-3 col-sm-4">
                  <div class="single_team wow fadeInUp">
                  <%= link_to user_course_path(current_user, course) do %>
                    <div class="team_img">
                      <img src="http://thumbs.dreamstime.com/z/stack-books-doodle-vector-32031106.jpg" alt="img">
                    </div>                  
                    <% if course.public || course.user == current_user %>
                    <h5 class=""><%= course.name %></h5>                    
                  <% end %>
                <% end %>
                  </div>
                </div> 
                <% end %>                           
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=========== END TEAM SECTION ================-->
          <div class="container">
      
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <!-- BEGAIN ABOUT HEADING -->
            
              <h2 class="wow fadeInLeftBig"><%= link_to 'Add a course', new_user_course_path(current_user), :class => 'slider_btn'  %></h2>  


</div>
</div>
</div>
     <!--=========== BEGAIN SUBSCRIBE SECTION ================-->
    <section id="subscribe">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <!-- START SUBSCRIBE HEADING -->
            <div class="heading">
              <h2 class="wow fadeInLeftBig">Search</h2>
              <p>Look for other students you many know and see what they are up to.</p>
            </div>
            <!-- BEGAIN SUBSCRIVE FORM -->
              <div class="subscrive_group wow fadeInUp">
                <%= form_tag users_search_path, method: :get do %>
                    <%= text_field_tag :q, params[:q], :class => "form-control subscribe_mail", :type => "text", :placeholder => "Search by name, email, major..." %>
                <%= submit_tag "Search" ,:class => "subscr_btn", :type => "submit", :value => "Search" %>
                <% end %>
                <hr>

              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!--=========== END SUBSCRIBE SECTION ================-->
