<h1>Courses#show</h1>

<h2><%= @course.name %></h2>

</br>
<%= link_to 'Edit', edit_user_course_path(current_user, @course) %> | 
<%= link_to 'Delete', user_course_path(current_user, @course), method: :delete, data: {confirm: 'Are you sure?'} %> |
<%= link_to 'Back', user_courses_path(current_user) %> 



<%= render 'tdls/index' %>

<%= render 'importants/index' %>

<%= render 'goals/index' %>