<div class="row">

        <div class="col-md-4 col-md-offset-4 pad-top">
            <hr>
            <h2 class="intro-text text-center">
                <strong>New goal</strong>
            </h2>
            <hr>
            <div class = "sign-up  text-center" >
    		<%= simple_form_for([@course, @goal]) do |f| %>

			  <div class="form-inputs" >
			    <%= f.input :date, :as => :date %>
		 	    <%= f.input :details , required: true, autofocus: true %>
			    <%= f.input :projected_mark %>
			    <%= f.input :actual_mark %>
			  </div>

			<% if @edit %>
				  <div class="form-actions">
				    <%= f.button :submit, "Update" %>
				  </div>
				 <% else %>
				   <div class="form-actions">
				    <%= f.button :submit, "Create" %>
				  </div>
			<% end %>

			<% end %>
    
            </div>
    </div>
</div>

