<table class = "table">
	<tr>
		<th>Date</th>
		<th>Details</th>
		<th>Projected mark</th>
		<th>Actual mark</th>
		<th>Deviation</th>
		<th colspan='2'></th>
	</tr>
<tbody>	
	<% @goals.each do |goal| %>
	<tr>
		<td><%= goal.date %></td>
		<td><%= goal.details %></td> 
		<td><%= goal.projected_mark %></td>
		<td><%= goal.actual_mark %></td>

		<% if goal.user == current_user %>
			<% if goal.actual_mark != nil %>		
				<% deviation = goal.actual_mark - goal.projected_mark %>
				<td><%= deviation %></td>
				<td><%= link_to 'Edit', edit_course_goal_path(@course, goal) %></td>
				<td><%= link_to 'Delete', course_goal_path(@course, goal),
		          method: :delete, data: { confirm: 'Are you sure?' } %></td>
			<% else %>
				<td><%= '-' %></td>

				<td><%= link_to 'Update', edit_course_goal_path(@course, goal) %></td>
				<td><%= link_to 'Delete', course_goal_path(@course, goal),
	          			method: :delete,
	          			data: { confirm: 'Are you sure?' } %></td>
        	<% end %>
		<% end %>	
	</tr>
	<% end %>
</tbody>
</table>

</br>

<% if @course.user == current_user  %>
	<%= link_to 'Add', new_course_goal_path(@course) %> 
	<i class="glyphicon glyphicon-plus"></i>
<% end %>

